/.gradle
.idea
build/
target/
bin/
.settings/
.eclipse
.classpath
.factorypath
.project


# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

*.iml

*.log
